fastapi
uvicorn[standard]
python-multipart
pydantic
slowapi
google-cloud-aiplatform>=1.38.0
google-cloud-texttospeech
google-cloud-storage
google-cloud-vision
google-genai>=1.11.0
google-adk==0.4.0
vertexai
google-cloud-firestore
httpx
deprecated
google-cloud-speech
trafilatura
yt-dlp
